# Virtual Environment
gatekeeper_venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
